/node_modules
/storage/*.key
/vendor
/.idea
/.vscode

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml

/public/storage
/public/hot
/public/js/
/public/css/
/public/fonts/
/public/mix-manifest.json
/*.log
/public/*.js
/public/*.js.map
